* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	height: 117vh;
	background-color: #2F4F4F;
	padding-top: max(75px, 6vmin);
	overflow: auto;
}

input,
input:active,
input:focus,
button,
button:active,
button:focus,
a,
a:active,
a:focus {
	outline: none !important;
	box-shadow: none !important;
	border-radius: 3px !important;
}


#edit-box-wrapper {
	min-height: fit-content;
}

#edit-box {
	margin: auto;
	margin-bottom: 15px;
	width: 62vw;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 15px;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: space-between;
}

#edit-box label {
	color: white;
}

@media only screen and (min-width: 1440px) {
	#edit-box {
		padding: calc(2vmax - 3px);
		gap: 20px;
	}

	*:not(#main-header) {
		font-size: calc(2vmax - 3px) !important;
	}

	#main-header {
		font-size: 3vmax !important;
		margin-bottom: 2vmin !important;
	}
}

@media only screen and (max-width: 900px) {
	#edit-box {
		width: 88vw;
	}
}

#edit-image {
	display: flex;
	justify-content: space-evenly;
	background-color: #000000c9;
	padding: max(10px, 2vmin) 0;
	border-radius: 5px;
	align-items: center;
	position: relative;
}

.edit-image--over {
	/* TODO */
}

#image-wrapper {
	position: relative;
    width: max(100px, 22%);
}

#image-wrapper::after {
	position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 22%;
    padding-left: 3%;
    content: attr(data-label);
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
}

#edit-image>label {
	width: 20%;
	text-align: center;
	user-select: none;
}

#first-image-label {
	left: 0;
}

#second-image-label {
	right: 0;
}

#edit-image img {
	width: 100%;
    aspect-ratio: 1 / 1;
}

#drop-zone-input {
	display: none;
}

#password-change-btn {
	background-color: #FF5722;
	color: white;
}

#password-change-btn:hover {
	background-color: #d14114;
}

.password-change-section {
	display: none;
}

.password-change-section.active {
	display: initial !important;
	width: 90%;
	align-self: center;
}

#new-password-div {
	margin-top: 7px;
}

.is-invalid,
.is-invalid:active,
.is-invalid:focus {
	border: solid 2px #dc3545 !important;
}

.invalid-span {
	color: red;
	font-size: 12px;
	display: none;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	pointer-events: none;
}

#error-div {
	color: white;
	background-color: #e11c1c;
	border-radius: 3px;
	text-align: center;
}

#main-header {
	text-align: center;
	color: white;
	margin-bottom: calc(1vmax + 2px);
}