/* ? we use this file for multiple pages' navbars and footers */

@media only screen and (min-width: 992px) {
	#navbarNav>ul {
		/* margin-left: 45%; */
		position: absolute;
		right: 30px;
		/* top: 0; */
	}
}

#navbarNav>ul>li:nth-child(4)>ul {
	margin: 0;
	padding: 0;
	padding-top: 5px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

#navbarNav>ul>li:nth-child(4)>ul>li {
	display: inline;
}

#navbarNav>ul>li:nth-child(4) {
	margin-left: 20px;
}

#navbarNav>ul>li:nth-child(4)>ul>li:not(:last-child) {
	margin-right: 7px;
}

body > nav > div > a {
	margin-left: 0.5%;
	margin-right: 0.5%;
}

/* ? below is the code for the footer and its elements */

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding-top: min(2%, 35px);
	padding-bottom: min(2%, 35px);

	background-color: cadetblue;
	color: white;
}

footer>p {
	margin: 0px;
	margin-left: 3%;
	display: inline;
}

footer>ul>li {
	display: inline;
	margin-right: 2px;
}

footer>ul>li:not(:last-child) {
	margin-right: 7px;
}

footer>ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0px;
	/* margin-left: 60%; */
	position: absolute;
	right: 30px;
	padding: 0px;
}

@media only screen and (max-width: 460px) {
	footer>ul {
		position: unset;
		margin-left: 20%;
	}
}