section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 113px;
	/* margin-bottom: 13.9%; */
	height: clamp(200px, 70vh, 500px);
	/* width: 100%; */
}

main {
	/* padding-top: 113px; */
	height: 100vh;
	width: 100%;
}

body {
	background: rgb(58, 88, 240) !important;
	background: radial-gradient(circle, rgb(18, 47, 194) 0%, rgb(10, 1, 54) 100%) !important;
}

#text-and-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	border-right: black 2px solid;
}

#text-and-buttons>h1 {
	text-align: center;
	color: white;
	margin-bottom: 5%;
	width: 350px;
	/* padding-left: 1%;
	padding-right: 1%; */
}

.btn-primary {
	background-color: #06720f !important;
	border-color: #023d07 !important;
	color: white !important;
	width: 89% !important;
	font-size: 17px !important;
}

.btn-group-vertical {
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
}

.btn-primary:hover {
	background-color: #06530d !important;
}

.btn-primary:active,
.btn-check:checked::before,
.btn-primary:focus {
	background-color: #023d07 !important;
}

.btn-primary:focus {
	box-shadow: none !important;
}

#map-div {
	width: 400px;
	display: flex;
	justify-content: center;
}

iframe {
	width: 100%;
	height: 100%;
	margin-left: 6%;
	margin-right: 6%;
}

/* ? screen becomes small */
@media only screen and (max-width: 799px) {
	section {
		align-content: center;
		margin-top: 75px;
		height: unset;
	}

	iframe {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 28px;
		width: 90%;
	}

	#text-and-buttons {
		border-right: none;
		border-bottom: black 2px solid;
		height: 210px;
		justify-content: flex-end;
		padding-bottom: 28px !important;
		/* padding-left: 50%; */
	}

	#text-and-buttons>h1 {
		font-size: 20px;
		width: unset;
	}
}

@media only screen and (max-height: 320px) and (min-width: 800px) {
	section {
		margin-top: 80px;
	}
}